
{{ if isset .Page.Params "headline" }}
<div class="custom-jumbotron jumbotron featured-jumbotron vertical-align margin-bottom-0 padding-top-40">
  <div class="container">
    <div class="row">
      {{ if .IsHome }}
	      <div class="col-sm-12">
            <h2><a href="https://www.openmdm.org/about-openmdm/how-does-it-work">Plan. Measure. Share.</a></h2>
            <p>And simplify your measured data management.</p>
	      </div>
      {{ end }}
      </div>
      {{ if isset .Page.Params "links" }}
        <ul class="list-inline{{ cond (isset .Page.Params "tagline") " padding-top-30" "" }}">
            {{range $key,$val := index .Page.Params.links}}
                <li><a class="btn btn-primary" href="{{ (index $val 0).href}}">{{ (index $val 1).text}}</a></li>
            {{end}} 
        </ul>
     {{end}} 
    </div>
  </div>
</div>
{{ end }}