<div id="members" class="container text-center padding-top-30 padding-bottom-40">
    <h2 class="header-underline">Our Members</h2>
    <div class="container vertical-align members-container">
        {{ range $members := .Site.Data.members.types }}
            {{ range $members.items }}
            <div class="col-sm-4 col-xs-8 match-height-item vertical-align margin-right-20 margin-bottom-20 background-white bordered-box" data-match-height="members">
                <a href="{{ .link }}" class="padding-5">
                    <img class="img img-responsive"  src="{{ .image }}" alt="{{ .title }}" width="{{ .img_width }}" />
                </a>
            </div>
            {{ end }}
        {{ end }}
    </div>
    <a href="/members" class="btn btn-primary">More members</a>
</div>