<div class="row background-dark">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 vertical-align flex-column text-white menu-dark border-bottom">
        <i class="fa fa-user-plus fa-icon padding-top-30"></i><h3 class="padding-bottom-30"><a href="https://www.openmdm.orgworking-group/register">Register</a></h3>
      </div>
      <div class="col-xs-12 col-sm-6 vertical-align flex-column text-white menu-dark border-bottom">
        <i class="fa fa-newspaper-o fa-icon padding-top-30"></i><h3 class="padding-bottom-30"><a href="https://www.openmdm.orgnews">News</a></h3>
      </div>
      <div class="col-xs-12 col-sm-6 vertical-align flex-column text-white menu-dark">
        <i class="fa fa-rocket fa-icon padding-top-30"></i><h3 class="padding-bottom-30"><a href="https://www.openmdm.orgtechnology/principles">Technology</a></h3>
      </div>
      <div class="col-xs-12 col-sm-6 vertical-align flex-column text-white border-right menu-dark">
        <i class="fa fa-users fa-icon padding-top-30"></i><h3 class="padding-bottom-30"><a href="https://www.openmdm.orgmembers-list">Members</a></h3>
      </div>
    </div>
  </div>
</div>